.home29 {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 27px;
    font-weight: 200;
  }
  .copyright56,
  .home-button28,
  .scroll-up-button28 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .home-button28 {
    justify-content: flex-start;
    cursor: pointer;
  }
  .copyright56,
  .scroll-up-button28 {
    justify-content: center;
  }
  .scroll-up-button28 {
    cursor: pointer;
  }
  .footer-section28,
  .footer28 {
    box-sizing: border-box;
    display: flex;
  }
  .footer-section28 {
    width: 1200px;
    height: 91px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--padding-13xl) var(--padding-61xl);
    text-align: left;
    font-size: var(--text1-size);
    color: var(--font-color);
    font-family: var(--font-poppins);
  }
  .footer28 {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 0.5px solid var(--color-white);
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .step-1-define {
    position: relative;
    font-size: var(--sub-heading-size);
    letter-spacing: 0.1em;
    display: inline-block;
    width: 1200px;
  }
  .before-starting-the {
    font-weight: 300;
    display: inline-block;
  }
  .apm-img4-icon,
  .before-starting-the,
  .in-figma-it {
    position: relative;
    width: 1200px;
  }
  .in-figma-it {
    font-weight: 300;
    white-space: pre-wrap;
    display: inline-block;
  }
  .apm-img4-icon {
    height: 675px;
    object-fit: cover;
  }
  .here-you-can {
    margin: 0;
  }
  .apm-imgfigmalogo-icon {
    position: relative;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .figma-logo {
    width: 1200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .figmacom {
    color: inherit;
  }
  .apm-img9-icon {
    height: 234px;
    object-fit: cover;
  }
  .apm-img11-icon,
  .apm-img9-icon,
  .toolbar {
    position: relative;
    width: 1200px;
  }
  .toolbar {
    font-size: var(--sub-heading-size);
    letter-spacing: 0.1em;
    font-weight: 600;
    display: inline-block;
  }
  .apm-img11-icon {
    height: 391px;
    object-fit: cover;
  }
  .switch-between-tools {
    margin: 0;
    font-weight: 300;
  }
  .tools-switch-between-container {
    align-self: stretch;
    position: relative;
    display: inline-block;
    width: 276px;
    flex-shrink: 0;
  }
  .actions {
    margin: 0;
    font-weight: 600;
  }
  .collaboration1 {
    font-weight: 600;
    font-family: var(--text);
  }
  .span22 {
    font-weight: 300;
  }
  .apm-img12-icon {
    position: relative;
    width: 584px;
    height: 664.9px;
    object-fit: cover;
  }
  .sidebar {
    width: 1200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-13xl);
  }
  .layers-here-you-container {
    position: relative;
    display: inline-block;
    width: 584px;
    flex-shrink: 0;
  }
  .apm-img14-icon {
    position: relative;
    width: 584px;
    height: 832.7px;
    object-fit: cover;
  }
  .canvas {
    width: 1200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .view-only-access-container {
    flex: 1;
    position: relative;
  }
  .edit-access-design-container {
    flex: 1;
    position: relative;
    text-align: justify;
  }
  .canvass {
    text-align: left;
  }
  .canvas3,
  .canvass {
    width: 1200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
  }
  .figma-learn {
    margin-bottom: 0;
  }
  .tools-shapes-and {
    text-decoration: underline;
  }
  .figma-learn-tools-shapes-and {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-2xl);
  }
  .if-you-would-container {
    position: relative;
    font-weight: 300;
  }
  .content222 {
    position: absolute;
    top: 94px;
    left: calc(50% - 603px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-61xl) 0;
    gap: var(--gap-xl);
  }
  .character-development2,
  .design14,
  .introduction8 {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 27px;
  }
  .character-development2,
  .introduction8 {
    font-weight: 300;
    cursor: pointer;
  }
  .introduction8:hover {
    color: var(--color-white);
  }
  .design14 {
    font-weight: 800;
  }
  .navigation-bar12 {
    margin: 0;
    position: absolute;
    top: 0;
    left: calc(50% - 720px);
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-13xl) 0;
    box-sizing: border-box;
    gap: var(--gap-21xl);
    text-align: left;
    font-size: var(--text-size);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .a-projectmanagement3 {
    position: relative;
    background-color: var(--color-black);
    width: 100%;
    height: 10400px;
    overflow: hidden;
    text-align: justify;
    font-size: var(--paragraph-size);
    color: var(--font-color);
    font-family: var(--text);
  }
  