.home7 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.69rem;
  font-weight: 200;
}
.copyright12,
.home-button6,
.scroll-up-button6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-button6 {
  justify-content: flex-start;
  cursor: pointer;
}
.copyright12,
.scroll-up-button6 {
  justify-content: center;
}
.scroll-up-button6 {
  cursor: pointer;
}
.footer-section6,
.footer6 {
  box-sizing: border-box;
  display: flex;
}
.footer-section6 {
  width: 75rem;
  height: 5.69rem;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-61xl);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--font-color);
  font-family: var(--font-poppins);
}
.footer6 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  border-top: 0.5px solid var(--color-white);
  width: 90rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.step-1-prototyping {
  position: relative;
  font-size: var(--heading-size);
  letter-spacing: 0.1em;
  text-align: left;
  display: inline-block;
  width: 75rem;
}
.flows-and-starting {
  margin: 0;
}
.flows-and-starting-container {
  position: relative;
  font-size: var(--heading-size);
  letter-spacing: 0.1em;
  font-weight: 600;
  display: inline-block;
  width: 75rem;
}
.a-flow-is,
.apm-img17-icon {
  position: relative;
  width: 75rem;
}
.a-flow-is {
  font-weight: 300;
  display: inline-block;
}
.apm-img17-icon {
  height: 42.19rem;
  object-fit: cover;
}
.select-the-hotspot {
  margin-bottom: false;
}
.select-the-hotspot-for-the-con {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.create-interactions-and-container {
  font-weight: 600;
}
.create-interactions-and-container,
.step-2-utilizing-container {
  position: relative;
  font-size: var(--heading-size);
  letter-spacing: 0.1em;
}
.apm-devmodeicon {
  position: relative;
  border-radius: var(--br-21xl);
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}
.devmode-icon {
  width: 75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.in-dev-mode {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 79.38rem;
}
.step-3-setting-container {
  position: relative;
  font-size: var(--heading-size);
  letter-spacing: 0.1em;
  display: inline-block;
  width: 75rem;
}
.apm-vsicon {
  position: relative;
  border-radius: var(--br-21xl);
  width: 19.44rem;
  height: 12.5rem;
  object-fit: cover;
}
.vs-icon {
  width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.this {
  color: inherit;
}
.from-dev-mode1 {
  font-weight: 600;
}
.span6 {
  font-weight: 300;
  font-family: var(--heading);
}
.from-dev-mode-container,
.from-vs-code-container,
.with-our-template {
  position: relative;
  display: inline-block;
  width: 75rem;
}
.from-vs-code-container,
.with-our-template {
  font-weight: 600;
}
.with-our-template {
  font-weight: 300;
  text-align: left;
}
.icons {
  width: 75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 9rem;
}
.create-the-head-container {
  position: relative;
  font-size: var(--heading-size);
  letter-spacing: 0.1em;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 75rem;
}
.the-selector {
  margin: 0;
  font-weight: 300;
}
.webkit-font-smoothing-antiali {
  margin: 0;
  font-weight: 600;
}
.the-selector-container {
  position: relative;
  text-align: left;
  display: inline-block;
  width: 75rem;
}
.guide-to-prototyping {
  text-decoration: underline;
}
.content4 {
  position: absolute;
  top: 5.69rem;
  left: calc(50% - 600px);
  width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.character-development1,
.development1,
.introduction1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.69rem;
}
.character-development1,
.introduction1 {
  font-weight: 300;
  cursor: pointer;
}
.introduction1:hover {
  color: var(--color-white);
}
.development1 {
  font-weight: 800;
}
.navigation-bar5 {
  margin: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 90rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.a-projectmanagement4 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 958.75rem;
  overflow: hidden;
  text-align: justify;
  font-size: var(--paragraph-size);
  color: var(--font-color);
  font-family: var(--heading);
}
