.list-of-components3 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
}
.name-parent1,
.parent1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.parent1 {
  top: 48px;
  left: 106px;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.k-resistor {
  position: relative;
}
.arduino-uno-r3-parent1 {
  position: absolute;
  top: 48px;
  left: 237px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent2 {
  position: relative;
  width: 364px;
  height: 339px;
}
.list-of-components-parent1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.arduino9-icon {
  position: relative;
  width: 954px;
  height: 424px;
  object-fit: cover;
}
.pinmodeled1-output {
  margin: 0;
}
.const-int-led112-container {
  position: relative;
  font-weight: 300;
}
.const-int-led112-const-int-l-wrapper {
  background-color: var(--color-gainsboro);
  width: 954px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-35xl) var(--padding-38xl);
  box-sizing: border-box;
  color: var(--color-black);
}
.arduino11 {
  position: relative;
  background-color: var(--color-silver);
  width: 955px;
  height: 424px;
}
.class-project-containing-two-l-parent,
.runing-the-system-container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.class-project-containing-two-l-parent {
  gap: var(--gap-13xl);
}
.assessment-project-containing-container {
  position: relative;
  font-size: var(--heading-size);
  letter-spacing: 0.1em;
  line-height: 27px;
}
.div19,
.r1-r2-r3-container,
.resistor3 {
  position: relative;
  display: inline-block;
  width: 87px;
  height: 63px;
  flex-shrink: 0;
}
.div19,
.resistor3 {
  width: 11px;
}
.resistor3 {
  width: 119px;
}
.frame-parent3 {
  position: relative;
  width: 364px;
  height: 381px;
}
.runing-the-system-container1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
  white-space: pre-wrap;
}
.u1-parent {
  position: absolute;
  top: 48px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent4,
.frame-parent5 {
  position: relative;
  width: 415px;
  height: 384px;
}
.frame-parent5 {
  width: 416px;
  height: 159px;
}
.arduino18-icon,
.frame-parent6 {
  position: relative;
  width: 416px;
  height: 249px;
}
.arduino18-icon {
  width: 954px;
  height: 419px;
  object-fit: cover;
}
.include-liquidcrystalh-inc-container {
  position: relative;
  font-weight: 300;
  white-space: pre-wrap;
}
.include-liquidcrystalh-inc-wrapper {
  background-color: var(--color-gainsboro);
  width: 954px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-35xl) var(--padding-38xl);
  box-sizing: border-box;
  font-size: var(--text1-size);
  color: var(--color-black);
}
.frame-parent1 {
  position: absolute;
  top: 108px;
  left: 243px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.arduino-basics1,
.arduino-output2 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
  cursor: pointer;
}
.arduino-basics1 {
  backdrop-filter: blur(4px);
}
.arduino-basics1:hover {
  mix-blend-mode: color;
  color: var(--color-white);
}
.arduino-output2 {
  font-weight: 200;
}
.menu-items4,
.navigation4 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu-items4 {
  gap: var(--gap-5xl);
}
.navigation4 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-500);
  width: 1440px;
  flex-wrap: wrap;
  padding: var(--padding-5xl) var(--padding-23xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--text-size);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.home6 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
  font-weight: 200;
}
.copyright10,
.home-button4,
.scroll-up-button4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-button4 {
  justify-content: flex-start;
  cursor: pointer;
}
.copyright10,
.scroll-up-button4 {
  justify-content: center;
}
.scroll-up-button4 {
  cursor: pointer;
}
.footer-section4 {
  border-top: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 1200px;
  height: 91px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-61xl);
  text-align: left;
  font-size: var(--text-size);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.footer5 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.arduino-output1 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 19048px;
  overflow: hidden;
  text-align: justify;
  font-size: var(--text-size);
  color: var(--font-color);
  font-family: var(--text);
}
