.home {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.69rem;
  font-weight: 200;
}
.copyright,
.home-button,
.scroll-up-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-button {
  justify-content: flex-start;
  cursor: pointer;
}
.copyright,
.scroll-up-button {
  justify-content: center;
}
.scroll-up-button {
  cursor: pointer;
}
.footer,
.footer-section {
  box-sizing: border-box;
  display: flex;
}
.footer-section {
  width: 75rem;
  height: 5.69rem;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-61xl);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--font-color);
  font-family: var(--font-poppins);
}
.footer {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  border-top: 0.5px solid var(--color-white);
  width: 90rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.bcad-img6-icon {
  position: relative;
  border-radius: var(--br-21xl);
  width: 29.63rem;
  height: 14.56rem;
  object-fit: cover;
}
.bcad-imgfusionicon {
  width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.blank-line {
  margin: 0;
}
.fusion-360-is-container {
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 75rem;
}
.main-features-of-container {
  font-size: var(--heading-size);
  letter-spacing: 0.1em;
  text-align: left;
}
.d-design-and-container,
.main-features-of-container {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 75rem;
}
.manufacturing-txt {
  line-break: anywhere;
  width: 100%;
}
.electronics-txt {
  width: 100%;
}
.it-is-cloud-based {
  margin-bottom: false;
}
.it-is-cloud-based-which-means {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.blank-line18 {
  margin: 0;
  font-weight: 800;
}
.drawbacks-of-fusion {
  margin: 0;
  font-size: var(--heading-size);
  font-weight: 600;
  font-family: var(--heading);
}
.drawbacks-of-fusion-container,
.getting-started-with-container {
  position: relative;
  letter-spacing: 0.1em;
  text-align: left;
  display: flex;
  align-items: center;
  width: 75rem;
}
.drawbacks-of-fusion-container {
  line-height: 1.69rem;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.getting-started-with-container {
  font-size: var(--heading-size);
}
.here1 {
  text-decoration: underline;
}
.here {
  color: inherit;
}
.you-can-download-container {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.69rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 75rem;
}
.bcad-frame1 {
  position: relative;
  width: 75rem;
  height: 50rem;
}
.content {
  position: absolute;
  top: 5.69rem;
  left: calc(50% - 600px);
  width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.cad-design,
.fusion-360,
.modeling-process {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.69rem;
  font-weight: 300;
  cursor: pointer;
}
.cad-design:hover {
  color: var(--color-white);
}
.fusion-360,
.modeling-process {
  font-weight: 800;
}
.modeling-process {
  font-weight: 300;
}
.navigation-bar {
  margin: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 90rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.b-cad2 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 733.75rem;
  overflow: hidden;
  text-align: justify;
  font-size: var(--paragraph-size);
  color: var(--font-color);
  font-family: var(--heading);
}
