.home6 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.69rem;
  font-weight: 200;
}
.copyright12,
.home-button6,
.scroll-up-button6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-button6 {
  justify-content: flex-start;
  cursor: pointer;
}
.copyright12,
.scroll-up-button6 {
  justify-content: center;
}
.scroll-up-button6 {
  cursor: pointer;
}
.footer-section6,
.footer6 {
  box-sizing: border-box;
  display: flex;
}
.footer-section6 {
  width: 75rem;
  height: 5.69rem;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-61xl);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--font-color);
  font-family: var(--font-poppins);
}
.footer6 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  border-top: 0.5px solid var(--color-white);
  width: 90rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.apm-background {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(81, 129, 227, 0.5),
    rgba(63, 180, 151, 0.3)
  );
  height: 52.5rem;
  overflow: hidden;
}
.cp-imgtop-icon {
  position: absolute;
  top: 36.5rem;
  left: calc(50% - 600px);
  border-radius: var(--br-xl);
  width: 75rem;
  height: 31.94rem;
  object-fit: cover;
}
.d-printing,
.in-this-blog1 {
  align-self: stretch;
  position: relative;
}
.d-printing {
  letter-spacing: 0.05em;
}
.in-this-blog1 {
  font-size: var(--sub-heading-size);
}
.as-our-third {
  margin: 0;
}
.as-our-third-container {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-size);
  letter-spacing: 0.05em;
}
.description1 {
  position: absolute;
  top: 5.69rem;
  left: calc(50% - 470px);
  width: 58.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.what-is-3d {
  font-size: var(--sub-heading-size);
}
.d-printing-is,
.reference-my3dconcepts,
.what-is-3d {
  position: relative;
  display: inline-block;
  width: 59.38rem;
}
.reference-my3dconcepts {
  text-decoration: underline;
  color: var(--color-gold);
}
.d-printing-is {
  font-weight: 300;
}
.httpswwwbcn3dcomthe-hist {
  color: inherit;
}
.reference-httpswwwbcn3dc {
  position: relative;
  color: var(--color-gold);
  display: inline-block;
  width: 59.38rem;
}
.in-the-early {
  margin: 0;
  font-weight: 300;
}
.s-in-the-container {
  position: relative;
  display: inline-block;
  width: 59.38rem;
}
.cp-img116-icon {
  position: relative;
  width: 59.63rem;
  height: 28.38rem;
  object-fit: cover;
}
.reprapbcn-in-the {
  font-weight: 300;
}
.new-3d-printing,
.reprapbcn-in-the {
  font-family: var(--sub-heading);
}
.stanford-engineers-have {
  font-weight: 300;
}
.reference-stanford-news-container {
  position: relative;
  font-weight: 300;
  color: var(--color-gold);
  display: inline-block;
  width: 59.38rem;
}
.cp-img117-icon {
  position: relative;
  width: 59.63rem;
  height: 19.75rem;
  object-fit: cover;
}
.stanford-news6 {
  text-decoration: underline;
  font-weight: 300;
}
.formlabs-launches-automation-container {
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  width: 59.38rem;
}
.mainstream-consumer-technologi {
  color: var(--color-yellow);
}
.reference-mainstream-consumer-container {
  position: relative;
  text-decoration: underline;
  white-space: pre-wrap;
  display: inline-block;
  width: 59.38rem;
  color: var(--color-gold);
}
.cp-img118-icon,
.cp-img119-icon {
  position: relative;
  width: 59.63rem;
  height: 20.75rem;
  object-fit: cover;
}
.cp-img119-icon {
  height: 28.19rem;
}
.cp-img5-icon1,
.cp-img6-icon1,
.cp-img7-icon1 {
  position: relative;
  width: 19.43rem;
  height: 19.92rem;
  object-fit: cover;
}
.cp-img6-icon1,
.cp-img7-icon1 {
  width: 18.79rem;
}
.cp-img7-icon1 {
  width: 20.9rem;
}
.cp-img120 {
  width: 59.38rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.the-golden-age {
  text-decoration: underline;
}
.new-materials1 {
  font-family: var(--sub-heading);
  color: var(--font-color);
}
.recycled-paper-3d-printing-te {
  margin: 0;
  color: var(--font-color);
}
.new-materials-reference-container {
  position: relative;
  display: inline-block;
  width: 59.63rem;
  color: var(--color-gold);
}
.cp-img121-icon {
  position: relative;
  width: 59.63rem;
  height: 15.31rem;
  object-fit: cover;
}
.research-paper-publications {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.d-printing-and-electronic-pack1 {
  margin-bottom: false;
}
.d-printing-and-electronic-pack {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-4xl);
}
.cp-img122-icon,
.cp-img124-icon,
.cp-img125-icon {
  position: relative;
  width: 59.38rem;
  height: 30.13rem;
  object-fit: cover;
}
.cp-img124-icon,
.cp-img125-icon {
  height: 31rem;
}
.cp-img125-icon {
  width: 59.94rem;
  height: 32.75rem;
}
.cp-img126-icon,
.cp-img127-icon,
.cp-img128-icon,
.cp-img129-icon {
  position: relative;
  width: 59.56rem;
  height: 33.13rem;
  object-fit: cover;
}
.cp-img127-icon,
.cp-img128-icon,
.cp-img129-icon {
  height: 36.19rem;
}
.cp-img128-icon,
.cp-img129-icon {
  width: 59.38rem;
  height: 29.69rem;
}
.cp-img129-icon {
  width: 59.5rem;
  height: 21.25rem;
}
.ebm-the-electron-container {
  position: relative;
  display: inline-block;
  width: 48rem;
}
.image-source-the-container9 {
  position: relative;
  color: var(--color-gold);
}
.ebm-the-electron-beam-melting-parent {
  width: 48.31rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.cp-img130-icon {
  position: relative;
  width: 10.13rem;
  height: 25.63rem;
  object-fit: cover;
}
.content107,
.frame-parent {
  width: 59.63rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.content107 {
  position: absolute;
  top: 68.44rem;
  left: calc(50% - 600px);
  width: 75rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: justify;
  font-size: var(--font-size-mid);
  font-family: var(--sub-heading);
}
.introduction5,
.slice-software5 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 1.69rem;
  font-weight: 800;
}
.introduction5:hover {
  color: var(--color-white);
}
.slice-software5 {
  font-weight: 300;
  cursor: pointer;
}
.c-printing1,
.navigation-bar5 {
  font-family: var(--font-poppins);
}
.navigation-bar5 {
  margin: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 90rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.c-printing1 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 921.81rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--font-color);
}
