@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.card1bg,
.card1bg1 {
  position: absolute;
  height: 78.87%;
  width: 50.99%;
  top: 59.89%;
  right: 74.48%;
  bottom: -38.77%;
  left: -25.47%;
  border-radius: var(--br-881xl);
  background: linear-gradient(
    177.23deg,
    rgba(4, 228, 255, 0.4),
    rgba(255, 40, 220, 0.4)
  );
  filter: blur(300px);
}
.card1bg1 {
  height: 45.56%;
  width: 29.46%;
  top: -17.1%;
  right: -9.72%;
  bottom: 71.54%;
  left: 80.26%;
  filter: blur(371px);
}
.hero-section {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 755px;
  overflow: hidden;
  flex-shrink: 0;
}
.finalproject-31-finalprojectse1 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.identifying-the-problem {
  margin: 0;
}
.heytherecurrentlywereintheproc1 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-gray-300);
  display: inline-block;
  width: 605px;
}
.finalproject-31-finalprojectse-parent {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 302px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.frame-wrapper {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 427px;
  overflow: hidden;
  flex-shrink: 0;
}
.hero-section-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.card1bg2,
.card1bg3 {
  position: absolute;
  height: 78.87%;
  width: 50.99%;
  top: 59.89%;
  right: 74.48%;
  bottom: -38.76%;
  left: -25.47%;
  border-radius: var(--br-881xl);
  background: linear-gradient(
    177.23deg,
    rgba(4, 228, 255, 0.4),
    rgba(255, 40, 220, 0.4)
  );
  filter: blur(300px);
}
.card1bg3 {
  height: 45.57%;
  width: 29.46%;
  top: -17.1%;
  right: -9.72%;
  bottom: 71.53%;
  left: 80.26%;
  filter: blur(371px);
}
.frame-child {
  position: relative;
  width: 256px;
  height: 368.4px;
}
.finalproject-31-finalprojectse2 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 491px;
}
.finalproject-31-finalprojectse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.div4 {
  letter-spacing: 0.04em;
  line-height: 130%;
  font-weight: 500;
  background: linear-gradient(177.23deg, #04e4ff, #ff28dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div4,
.finalproject-31-finalprojectse3 {
  position: relative;
  text-transform: uppercase;
}
.heytherecurrentlywereintheproc2 {
  position: relative;
  font-size: var(--text-size);
  text-align: left;
  display: inline-block;
  width: 526px;
}
.finalproject-31-finalprojectse-group {
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-xs);
  font-size: var(--text1-size);
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-28xl);
}
.heytherecurrentlywereintheproc3 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-whitesmoke);
  text-align: left;
  display: inline-block;
  width: 526px;
}
.frame-container,
.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frame-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.group-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 84px;
}
.finalproject-31-finalprojectse-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-13xl);
}
.heytherecurrentlywereintheproc5 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-whitesmoke);
  display: inline-block;
  width: 526px;
}
.finalproject-31-finalprojectse-parent1,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.finalproject-31-finalprojectse-parent1 {
  align-items: flex-end;
  gap: var(--gap-xs);
}
.frame-wrapper1 {
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
}
.div7 {
  position: relative;
  font-size: var(--font-size-71xl);
  letter-spacing: 0.04em;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(177.23deg, #04e4ff, #ff28dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.frame-parent1,
.frame-parent2,
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-28xl);
}
.frame-parent1,
.frame-parent3 {
  gap: var(--gap-13xl);
}
.frame-parent1 {
  position: absolute;
  top: calc(50% - 380.5px);
  left: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.group-child {
  position: absolute;
  height: 41.17%;
  width: 35.92%;
  top: 29.37%;
  right: -6.47%;
  bottom: 29.46%;
  left: 70.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div {
  position: relative;
  width: 927px;
  height: 761px;
  text-align: right;
  font-size: var(--text1-size);
}
.frame-group {
  position: absolute;
  top: calc(50% - 740.5px);
  left: calc(50% - 463px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 157px;
}
.hero-section1 {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 1639px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--font-size-71xl);
  color: var(--color-white);
}
.heytherecurrentlywereintheproc9 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-gray-300);
  display: inline-block;
  width: 567px;
}
.finalproject-31-finalprojectse-parent5 {
  position: absolute;
  top: calc(50% - 73.5px);
  left: calc(50% - 283px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.frame-wrapper5 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 345px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.hero-section-child {
  position: absolute;
  top: 99px;
  left: 243px;
}
.finalproject-31-finalprojectse12 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 954px;
}
.heytherecurrentlywereintheproc10 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-whitesmoke);
  text-align: left;
  display: inline-block;
  width: 372px;
}
.finalproject-31-finalprojectse-parent7 {
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-xs);
}
.frame-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-white);
}
.heytherecurrentlywereintheproc11 {
  position: relative;
  font-size: var(--text-size);
  text-align: left;
  display: inline-block;
  width: 373px;
}
.frame-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.heytherecurrentlywereintheproc12 {
  position: relative;
  font-size: var(--text-size);
  text-align: left;
  display: inline-block;
  width: 371px;
}
.frame-parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.image-50-icon {
  position: relative;
  width: 495px;
  height: 467px;
  object-fit: cover;
}
.heytherecurrentlywereintheproc13 {
  position: relative;
  display: inline-block;
  width: 495px;
}
.frame-parent7,
.image-50-parent {
  display: flex;
  align-items: flex-start;
}
.image-50-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--text-size);
}
.frame-parent7 {
  width: 954px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--text1-size);
  color: var(--color-whitesmoke);
}
.finalproject-31-finalprojectse-parent6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.finalproject-31-finalprojectse16 {
  position: relative;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 954px;
  z-index: 0;
}
.frame-item {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  width: 465px;
  height: 191px;
  z-index: 0;
}
.heytherecurrentlywereintheproc14 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-whitesmoke);
  display: inline-block;
  width: 376px;
}
.finalproject-31-finalprojectse-parent11 {
  margin: 0 !important;
  position: absolute;
  top: 26px;
  left: 45px;
  height: 141px;
  align-items: center;
  gap: var(--gap-xs);
  z-index: 1;
}
.finalproject-31-finalprojectse-parent11,
.finalproject-31-finalprojectse-parent12,
.rectangle-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rectangle-parent {
  align-items: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.finalproject-31-finalprojectse-parent12 {
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  height: 191px;
  align-items: center;
  padding: 17px 44px;
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.frame-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 1;
}
.frame-inner {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  width: 954px;
  height: 405px;
  z-index: 2;
}
.finalproject-31-finalprojectse19 {
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 655px;
}
.heytherecurrentlywereintheproc16 {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  width: 902px;
}
.finalproject-31-finalprojectse-parent13 {
  margin: 0 !important;
  position: absolute;
  top: 332px;
  left: 26px;
  height: 330px;
  align-items: center;
  gap: var(--gap-xs);
  z-index: 3;
  color: var(--color-whitesmoke);
}
.finalproject-31-finalprojectse-parent10,
.finalproject-31-finalprojectse-parent13,
.frame-parent6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.finalproject-31-finalprojectse-parent10 {
  align-items: center;
  position: relative;
  gap: var(--gap-13xl);
  font-size: var(--text1-size);
}
.frame-parent6 {
  position: absolute;
  top: 106px;
  left: 243px;
  align-items: flex-start;
  gap: var(--gap-45xl);
}
.hero-section2 {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 1703px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
  color: var(--color-white);
}
.heytherecurrentlywereintheproc17 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-black);
  display: inline-block;
  width: 921px;
}
.finalproject-31-finalprojectse-parent14 {
  width: 953px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.photo-lua-9-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 377px;
  height: 462px;
  object-fit: cover;
}
.iphone-x-lua-app-1-icon,
.photo-lua-3-1-icon {
  position: absolute;
  top: 1px;
  left: 377px;
  width: 518px;
  height: 460px;
  object-fit: cover;
}
.photo-lua-3-1-icon {
  top: 0;
  left: 895px;
  width: 546px;
  height: 462px;
}
.photo-lua-9-1-parent {
  position: relative;
  width: 1441px;
  height: 462px;
}
.frame-parent10 {
  background-color: var(--color-whitesmoke-100);
  height: 738px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-19xl);
  z-index: 4;
}
.simple-smart-home {
  color: inherit;
}
.heytherecurrentlywereintheproc18 {
  position: relative;
  font-size: var(--text-size);
  font-weight: 300;
  color: var(--font-inherit);
  display: inline-block;
  width: 921px;
}
.photo-lua-3-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 462px;
}
.photo-lua-3-1-wrapper {
  position: relative;
  width: 1440px;
  height: 462px;
}
.frame-parent11 {
  background-color: var(--color-whitesmoke-100);
  height: 738px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-19xl);
  z-index: 5;
}
.finalproject-31-finalprojectse-parent16 {
  position: absolute;
  top: calc(50% - 84px);
  left: calc(50% - 302px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.frame-wrapper9 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 427px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 6;
}
.vector-icon,
.vector-icon1 {
  position: relative;
  width: 193.2px;
  height: 178px;
}
.vector-icon1 {
  width: 201px;
  height: 172px;
}
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(60px);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.vector-icon2,
.vector-icon3 {
  position: relative;
  width: 185.2px;
  height: 170px;
}
.vector-icon3 {
  width: 193px;
}
.vector-group {
  position: absolute;
  top: 0;
  left: 1.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frame-parent13 {
  position: relative;
  width: 404.3px;
  height: 170px;
}
.heytherecurrentlywereintheproc20 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-whitesmoke);
  display: inline-block;
  width: 720px;
}
.finalproject-31-finalprojectse-wrapper1 {
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  width: 402px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-5xl) var(--padding-xs) 0;
  box-sizing: border-box;
}
.group-container {
  width: 954px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.group-icon {
  position: relative;
  width: 11px;
  height: 2070px;
}
.finalproject-31-finalprojectse27 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 780px;
}
.heytherecurrentlywereintheproc21 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-whitesmoke);
  display: inline-block;
  width: 778px;
}
.finalproject-31-finalprojectse-parent17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.finalproject-31-finalprojectse28,
.finalproject-31-finalprojectse29,
.finalproject-31-finalprojectse30 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 776px;
}
.finalproject-31-finalprojectse29,
.finalproject-31-finalprojectse30 {
  width: 779px;
}
.finalproject-31-finalprojectse30 {
  width: 774px;
}
.the-device-incorporates {
  margin-bottom: 0;
}
.the-device-incorporates-elemen {
  margin: 0;
  padding-left: var(--padding-4xl);
}
.heytherecurrentlywereintheproc24 {
  position: relative;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  color: var(--color-whitesmoke);
  display: inline-block;
  width: 778px;
}
.finalproject-31-finalprojectse31 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 775px;
}
.heytherecurrentlywereintheproc26 {
  line-break: anywhere;
  width: 100%;
}
.heytherecurrentlywereintheproc25 {
  position: relative;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  color: var(--color-whitesmoke);
  display: flex;
  align-items: center;
  width: 778px;
}
.finalproject-31-finalprojectse32 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 614px;
}
.frame-parent12,
.group-parent1 {
  display: flex;
  align-items: flex-start;
}
.group-parent1 {
  flex-direction: row;
  justify-content: center;
  gap: 87px;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.frame-parent12 {
  position: absolute;
  top: 96px;
  left: 243px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.hero-section3 {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 2903px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 7;
  font-size: var(--text1-size);
  color: var(--color-white);
}
.heytherecurrentlywereintheproc29 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  width: 953px;
}
.finalproject-31-finalprojectse-parent23,
.finalproject-31-finalprojectse-parent24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.finalproject-31-finalprojectse-parent23 {
  position: absolute;
  top: calc(50% - 483.5px);
  left: calc(50% - 476px);
}
.frame-wrapper10 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 1144px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 8;
}
.vector-31-content-31-landingpa-icon1 {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 32px;
  height: 32px;
}
.content-31-landingpage-eng1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 95px;
  height: 95px;
  z-index: 9;
}
.language-31-landingpage-eng3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--text-size);
  font-weight: 500;
  font-family: var(--font-encode-sans);
  color: var(--color-whitesmoke);
  text-align: center;
  cursor: pointer;
}
.language-31-landingpage-eng2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: 29px;
  right: 33px;
  width: 34px;
  height: 21px;
  z-index: 10;
}
.heytherecurrentlywereintheproc31 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-whitesmoke);
  display: inline-block;
  width: 465px;
}
.vector-icon7 {
  position: relative;
  width: 193px;
  height: 164px;
}
.frame-parent16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  width: 465px;
  height: 253px;
}
.heytherecurrentlywereintheproc32 {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  width: 376px;
}
.finalproject-31-finalprojectse-parent26 {
  position: absolute;
  top: 35px;
  left: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.rectangle-group {
  position: relative;
  width: 465px;
  height: 253px;
}
.finalproject-31-finalprojectse-parent27 {
  top: 17px;
  left: 45px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
}
.finalproject-31-finalprojectse-parent27,
.frame-parent,
.frame-parent15 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.frame-parent15 {
  margin: 0 !important;
  top: 95px;
  left: 243px;
  width: 954.2px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-5xl);
  z-index: 11;
  font-size: var(--text1-size);
  color: var(--color-white);
}
.frame-parent {
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}
.final-project-web-page-and-pre {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 10819px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-blueviolet);
  font-family: var(--text);
}
.rectangle3852-31-toc-31-landin {
  position: absolute;
  height: 103.7%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -3.7%;
  left: 0;
  border-radius: 0 0 var(--br-base) var(--br-base);
  background-color: rgba(16, 16, 19, 0.9);
}
.vector-31-toc-31-landingpage-e-icon {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 32px;
  height: 32px;
  display: none;
}
.tableofcontents-31-toc-31-land {
  position: absolute;
  top: 32px;
  left: 170px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  font-weight: 100;
  font-family: var(--font-encode-sans);
  text-align: center;
}
.finalproject-31-toc-31-landing,
.home-31-toc-31-landingpage-eng {
  position: absolute;
  top: 164px;
  left: 408px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
}
.finalproject-31-toc-31-landing {
  top: 228px;
  left: 279px;
}
.aboutus-31-toc-31-landingpage-,
.courseprojects-31-toc-31-landi {
  position: absolute;
  top: 332px;
  left: 226px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: right;
}
.aboutus-31-toc-31-landingpage- {
  top: 504px;
  left: 350px;
}
.line4-31-toc-31-landingpage-en-icon {
  position: absolute;
  top: 170px;
  left: 511px;
  width: 4px;
  height: 432px;
}
.subtopic1-31-toc-31-landingpag {
  position: absolute;
  top: 228px;
  left: 541px;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
  width: 463px;
  cursor: pointer;
}
.week1-31-toc-31-landingpage-en,
.week5-31-toc-31-landingpage-en,
.week6-31-toc-31-landingpage-en,
.week7-31-toc-31-landingpage-en {
  position: absolute;
  top: 332px;
  left: 543px;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
  width: 463px;
  cursor: pointer;
}
.week5-31-toc-31-landingpage-en,
.week6-31-toc-31-landingpage-en,
.week7-31-toc-31-landingpage-en {
  left: 898px;
}
.week6-31-toc-31-landingpage-en,
.week7-31-toc-31-landingpage-en {
  top: 368px;
}
.week7-31-toc-31-landingpage-en {
  top: 404px;
}
.teammember1-31-toc-31-landingp,
.teammember2-31-toc-31-landingp,
.teammember3-31-toc-31-landingp,
.week8-31-toc-31-landingpage-en {
  position: absolute;
  top: 440px;
  left: 898px;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
  width: 463px;
  cursor: pointer;
}
.teammember1-31-toc-31-landingp,
.teammember2-31-toc-31-landingp,
.teammember3-31-toc-31-landingp {
  top: 504px;
  left: 543px;
}
.teammember2-31-toc-31-landingp,
.teammember3-31-toc-31-landingp {
  top: 540px;
}
.teammember3-31-toc-31-landingp {
  top: 571px;
}
.teammember4-31-toc-31-landingp,
.teammember5-31-toc-31-landingp,
.week2-31-toc-31-landingpage-en,
.week3-31-toc-31-landingpage-en {
  position: absolute;
  top: 504px;
  left: 898px;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
  width: 463px;
  cursor: pointer;
}
.teammember5-31-toc-31-landingp,
.week2-31-toc-31-landingpage-en,
.week3-31-toc-31-landingpage-en {
  top: 540px;
}
.week2-31-toc-31-landingpage-en,
.week3-31-toc-31-landingpage-en {
  top: 368px;
  left: 543px;
}
.week3-31-toc-31-landingpage-en {
  top: 404px;
  width: 316px;
}
.subtopic2-31-toc-31-landingpag,
.subtopic3-31-toc-31-landingpag,
.subtopic4-31-toc-31-landingpag,
.week4-31-toc-31-landingpage-en {
  position: absolute;
  top: 440px;
  left: 543px;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
  width: 463px;
  cursor: pointer;
}
.subtopic2-31-toc-31-landingpag,
.subtopic3-31-toc-31-landingpag,
.subtopic4-31-toc-31-landingpag {
  top: 268px;
  left: 541px;
}
.subtopic3-31-toc-31-landingpag,
.subtopic4-31-toc-31-landingpag {
  top: 228px;
  left: 896px;
}
.subtopic4-31-toc-31-landingpag {
  top: 268px;
}
.toc-31-landingpage-eng {
  position: relative;
  border-radius: 0 0 var(--br-29xl) var(--br-29xl);
  width: 1440px;
  height: 675px;
  z-index: 0;
}
.content-31-landingpage-eng-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 89px;
  height: 95px;
  cursor: pointer;
  z-index: 1;
}
.menu {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-poppins);
}
.menu.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
