.laser-cutting-background2 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
  backdrop-filter: blur(4px);
}
.laser-cutting-background2:hover {
  mix-blend-mode: color;
  color: var(--color-white);
}
.test-project1 {
  cursor: pointer;
}
.final-project2,
.test-project1 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
  font-weight: 200;
}
.menu-items7,
.navigation7 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu-items7 {
  gap: var(--gap-5xl);
}
.navigation7 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-500);
  width: 1440px;
  flex-wrap: wrap;
  padding: var(--padding-5xl) var(--padding-23xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--text-size);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.laser-material-processing {
  position: relative;
  font-size: var(--text1-size);
  text-transform: uppercase;
  display: inline-block;
  width: 950px;
}
.httpswwwulsinccomlearnl {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: var(--color-gold);
  display: inline-block;
  width: 953px;
}
.laser-energy- {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  width: 950px;
}
.the-effects-produced {
  margin: 0;
}
.the-effects-produced-container {
  position: relative;
  font-size: var(--text-size);
  font-weight: 300;
  display: inline-block;
  width: 950px;
}
.laser-energy-material-intera-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  font-size: var(--text1-size);
}
.image-58-icon {
  position: relative;
  width: 954px;
  height: 328px;
  object-fit: cover;
}
.image-58-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.material-ablation {
  position: relative;
  display: inline-block;
  width: 950px;
}
.image-59-icon {
  position: relative;
  width: 950px;
  height: 599px;
  object-fit: cover;
}
.material-ablation-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  font-size: var(--heading-size);
}
.surface-material-modification {
  position: relative;
  font-size: var(--heading-size);
  display: inline-block;
  width: 950px;
}
.laser-cutting-is-container,
.this-physical-process-container {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 950px;
}
.laser-cutting-is-container {
  width: 953px;
}
.image-60-icon {
  position: relative;
  width: 953px;
  height: 536px;
  object-fit: cover;
}
.httpswwwrapiddirectcombl1 {
  text-decoration: underline;
}
.httpswwwrapiddirectcombl {
  color: inherit;
}
.reference-httpswwwrapiddi {
  position: relative;
  font-weight: 300;
  color: var(--color-gold);
  display: inline-block;
  width: 953px;
}
.one-of-the {
  margin: 0;
  font-weight: 300;
}
.metals {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-4xl);
}
.laser-cutters-can {
  font-weight: 300;
}
.aluminum-however-is-more-cha {
  margin-bottom: 0;
}
.one-of-the-container {
  position: relative;
  display: inline-block;
  width: 953px;
}
.the-best-laser {
  font-family: var(--text);
}
.adobe-illustrator-httpssen-container {
  position: relative;
  display: inline-block;
  color: var(--color-gold);
  width: 950px;
}
.laser-cutting-parent,
.laser-material-processing-parent,
.surface-material-modification-parent {
  width: 953px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.laser-material-processing-parent,
.surface-material-modification-parent {
  gap: var(--gap-lgi);
}
.laser-material-processing-parent {
  position: absolute;
  top: 107px;
  left: 243px;
  gap: var(--gap-5xl);
}
.copyright16,
.home-button7,
.scroll-up-button7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-button7 {
  justify-content: flex-start;
  cursor: pointer;
}
.copyright16,
.scroll-up-button7 {
  justify-content: center;
}
.scroll-up-button7 {
  cursor: pointer;
}
.footer-section7 {
  border-top: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 1200px;
  height: 91px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-61xl);
  text-align: left;
  font-size: var(--text-size);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.footer8 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.laser-cutting-background1 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 6912px;
  overflow: hidden;
  text-align: justify;
  font-size: var(--text-size);
  color: var(--font-color);
  font-family: var(--text);
}
