.character-development2,
.design12,
.introduction2 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
}
.character-development2,
.introduction2 {
  font-weight: 300;
  cursor: pointer;
}
.introduction2:hover {
  color: var(--color-white);
}
.design12 {
  font-weight: 800;
}
.navigation-bar2 {
  margin: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.step-1-define {
  position: relative;
  font-size: var(--heading-size);
  letter-spacing: 0.1em;
  display: inline-block;
  width: 1200px;
}
.before-starting-the {
  font-weight: 300;
  display: inline-block;
}
.before-starting-the,
.img4-icon,
.in-figma-it {
  position: relative;
  width: 1200px;
}
.in-figma-it {
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
}
.img4-icon {
  height: 675px;
  object-fit: cover;
}
.here-you-can {
  margin: 0;
}
.imgfigmalogo-icon {
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.figma-logo {
  width: 1200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.img9-icon {
  height: 234px;
  object-fit: cover;
}
.img11-icon,
.img9-icon,
.toolbar {
  position: relative;
  width: 1200px;
}
.toolbar {
  font-size: var(--heading-size);
  letter-spacing: 0.1em;
  font-weight: 600;
  display: inline-block;
}
.img11-icon {
  height: 391px;
  object-fit: cover;
}
.switch-between-tools {
  margin: 0;
  font-weight: 300;
}
.tools-switch-between-container {
  align-self: stretch;
  position: relative;
  display: inline-block;
  width: 276px;
  flex-shrink: 0;
}
.actions {
  margin: 0;
  font-weight: 600;
}
.collaboration1 {
  font-weight: 600;
  font-family: var(--paragraph);
}
.span4 {
  font-weight: 300;
}
.tools {
  width: 1200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
}
.img12-icon {
  position: relative;
  width: 584px;
  height: 664.9px;
  object-fit: cover;
}
.sidebar {
  width: 1200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
}
.layers-here-you-container {
  position: relative;
  display: inline-block;
  width: 584px;
  flex-shrink: 0;
}
.img14-icon {
  position: relative;
  width: 584px;
  height: 832.7px;
  object-fit: cover;
}
.canvas {
  width: 1200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.view-only-access-container {
  flex: 1;
  position: relative;
}
.edit-access-design-container {
  flex: 1;
  position: relative;
  text-align: justify;
}
.canvas3 {
  width: 1200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.figma-learn {
  margin-bottom: 0;
}
.figma-learn-tools-shapes-and {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.if-you-would-container {
  position: relative;
  font-weight: 300;
}
.content1 {
  position: absolute;
  top: 94px;
  left: calc(50% - 603px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-61xl) 0;
  gap: var(--gap-xl);
}
.home4 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
  font-weight: 200;
}
.copyright6,
.home-button2,
.scroll-up-button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-button2 {
  justify-content: flex-start;
  cursor: pointer;
}
.copyright6,
.scroll-up-button2 {
  justify-content: center;
}
.scroll-up-button2 {
  cursor: pointer;
}
.footer-section2 {
  border-top: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 1200px;
  height: 91px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-61xl);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--font-color);
  font-family: var(--font-poppins);
}
.footer8 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.project-management-three {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 10400px;
  overflow: hidden;
  text-align: justify;
  font-size: var(--paragraph-size);
  color: var(--font-color);
  font-family: var(--paragraph);
}
