.projectmanagementbackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(81, 129, 227, 0.5),
    rgba(63, 180, 151, 0.3)
  );
  height: 640px;
  overflow: hidden;
}
.character-development4,
.introduction4 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
  font-weight: 800;
}
.introduction4:hover {
  color: var(--color-white);
}
.character-development4 {
  font-weight: 300;
  cursor: pointer;
}
.navigation-bar4 {
  margin: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--text1-size);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.hello-there,
.welcome-to-our {
  align-self: stretch;
  position: relative;
}
.hello-there {
  letter-spacing: 0.05em;
}
.welcome-to-our {
  font-size: var(--heading-size);
}
.in-this-blog {
  margin: 0;
}
.in-this-blog-container {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-size);
  letter-spacing: 0.05em;
}
.description1 {
  position: absolute;
  top: 91px;
  left: calc(50% - 470px);
  width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  font-size: var(--font-size-13xl);
}
.through-this-blog {
  position: absolute;
  width: 71.67%;
  top: 78px;
  left: 23.25%;
  letter-spacing: 0.05em;
  display: inline-block;
}
.projectmanagementdivider {
  position: absolute;
  width: calc(100% - 240px);
  top: 539px;
  right: 120px;
  left: 120px;
  border-radius: var(--br-xl);
  background: radial-gradient(50% 50%at 50% 50%, #5181e3, #3fb497 97.02%);
  height: 205px;
  overflow: hidden;
}
.imgnovvapm-icon {
  position: absolute;
  top: 494px;
  left: 81px;
  width: 489.7px;
  height: 294px;
  object-fit: cover;
}
.step-1-introducing {
  flex: 1;
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
}
.plusmark-child {
  position: relative;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(81, 129, 227, 0.2),
    rgba(63, 180, 151, 0.2)
  );
  width: 32px;
  height: 32px;
  z-index: 0;
}
.plusmark-inner,
.plusmark-item {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 4.9px);
  left: calc(50% - 4.9px);
  width: 9.9px;
  height: 9.9px;
  object-fit: contain;
  z-index: 1;
}
.plusmark-inner {
  top: calc(50% + 4.9px);
  z-index: 2;
}
.plusmark {
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  gap: var(--gap-3xs);
}
.description2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: var(--heading-size);
}
.projectmanagementline-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 3.7px;
  flex-shrink: 0;
  object-fit: contain;
}
.first-things-first {
  align-self: stretch;
  position: relative;
  font-weight: 300;
}
.step-one {
  border-radius: var(--br-xl);
  border: 3px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
  width: 940px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-21xl);
  gap: var(--gap-xl);
}
.you-can-get {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.plusmark-child8 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 4.9px);
  left: calc(50% - 4.9px);
  width: 9.9px;
  height: 9.9px;
  object-fit: contain;
  display: none;
  z-index: 2;
}
.description6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.by-choosing-to {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-size);
  font-weight: 300;
  text-align: justify;
}
.step-six,
.steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.step-six {
  border-radius: var(--br-xl);
  border: 3px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
  width: 940px;
  padding: var(--padding-5xl) var(--padding-21xl);
  text-align: left;
  font-size: var(--heading-size);
}
.steps {
  position: absolute;
  top: 845px;
  left: calc(50% - 470px);
  text-align: justify;
  font-family: var(--text);
}
.home20 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
  font-weight: 200;
}
.copyright38,
.home-button18,
.scroll-up-button18 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-button18 {
  justify-content: flex-start;
  cursor: pointer;
}
.copyright38,
.scroll-up-button18 {
  justify-content: center;
}
.scroll-up-button18 {
  cursor: pointer;
}
.footer-section18 {
  border-top: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 1200px;
  height: 91px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-61xl);
  text-align: left;
  font-size: var(--text-size);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.footer19 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.project-management-one {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 2393px;
  overflow: hidden;
  text-align: center;
  font-size: var(--paragraph-size);
  color: var(--font-color);
  font-family: var(--font-poppins);
}
