@keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .vector-icon7 {
    position: absolute;
    height: 75%;
    width: 75%;
    top: 12.5%;
    right: 12.5%;
    bottom: 12.5%;
    left: 12.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .phone-dial1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 64px;
    height: 64px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .vector-icon8 {
    position: absolute;
    height: 66.72%;
    width: 83.28%;
    top: 16.72%;
    right: 8.44%;
    bottom: 16.56%;
    left: 8.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon1 {
    position: relative;
    width: 53px;
    height: 53px;
  }
  .dingtalk-circle-01-11 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 53px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vector-icon11 {
    position: absolute;
    height: 81.25%;
    width: 83.28%;
    top: 8.28%;
    right: 8.44%;
    bottom: 10.47%;
    left: 8.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .github1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 64px;
    height: 64px;
    overflow: hidden;
    flex-shrink: 0;
    opacity: 0;
  }
  .github1.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
  }
  .contact-section1,
  .contact3 {
    position: absolute;
    left: calc(50% - 720px);
    width: 1440px;
  }
  .contact-section1 {
    top: 4400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-45xl);
  }
  .contact3 {
    margin: 0 !important;
    top: 0;
    font-size: inherit;
    letter-spacing: 0.6em;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    z-index: 0;
  }
  .contact-heading-child,
  .contact-heading-item {
    position: absolute;
    margin: 0 !important;
    top: 19px;
    left: -1px;
    border-top: 2px solid var(--color-fuchsia);
    box-sizing: border-box;
    width: 552px;
    height: 2px;
    z-index: 1;
  }
  .contact-heading-item {
    left: 899px;
    z-index: 2;
  }
  .contact-heading {
    position: absolute;
    top: 4200px;
    left: calc(50% - 720px);
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-90xl);
  }
  .digital-painting {
    margin-block-start: 0;
    margin-block-end: 10px;
  }
  .anime {
    margin: 0;
  }
  .digital-painting-literature-container {
    position: relative;
    letter-spacing: 0.2em;
    line-height: 27px;
  }
  .hobbies-section2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    box-sizing: border-box;
  }
  .about2:hover,
  .frame {
    color: var(--color-white);
  }
  .frame {
    position: absolute;
    top: 3880px;
    left: -10px;
    width: 1460px;
    height: 195px;
    overflow: hidden;
    font-size: var(--text1-size);
    font-family: var(--font-poppins);
  }
  .hobbies-heading-child,
  .hobbies-heading-item {
    position: absolute;
    margin: 0 !important;
    top: 20px;
    left: -1px;
    border-top: 2px solid var(--color-fuchsia);
    box-sizing: border-box;
    width: 552px;
    height: 2px;
    z-index: 0;
  }
  .hobbies-heading-item {
    left: 899px;
    z-index: 1;
  }
  .hobbies-heading,
  .hobbies2 {
    position: absolute;
    left: calc(50% - 720px);
    width: 1440px;
  }
  .hobbies2 {
    margin: 0 !important;
    top: 0;
    font-size: inherit;
    letter-spacing: 0.6em;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    z-index: 2;
  }
  .hobbies-heading {
    top: 3750px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-90xl);
  }
  .circle1 {
    flex-shrink: 0;
  }
  .spanish {
    position: relative;
    letter-spacing: 0.6em;
    line-height: 42px;
    text-transform: uppercase;
  }
  .languages-section1,
  .text106 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text106 {
    width: 900px;
    flex-shrink: 0;
    flex-direction: row;
    gap: var(--gap-93xl);
  }
  .languages-section1 {
    position: absolute;
    top: 3430px;
    left: 270px;
    flex-direction: column;
    font-size: var(--text1-size);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .languages-heading-child,
  .languages-heading-item {
    position: absolute;
    margin: 0 !important;
    top: 20px;
    left: -1px;
    border-top: 2px solid var(--color-fuchsia);
    box-sizing: border-box;
    width: 502px;
    height: 2px;
    z-index: 0;
  }
  .languages-heading-item {
    left: 939px;
    z-index: 1;
  }
  .languages-heading {
    position: absolute;
    top: 3270px;
    left: calc(50% - 720px);
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-90xl);
  }
  .adobe-photoshop-adobe-container1 {
    position: relative;
    letter-spacing: 0.2em;
    line-height: 27px;
    display: inline-block;
    width: 210px;
    height: 352px;
    flex-shrink: 0;
  }
  .skills-section1 {
    position: absolute;
    top: 2820px;
    left: calc(50% - 720px);
    background-color: var(--color-gray-500);
    width: 1440px;
    height: 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: var(--text1-size);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .skills-heading-child {
    top: 20px;
    left: -1px;
    border-top: 2px solid var(--color-fuchsia);
    box-sizing: border-box;
    width: 582px;
    height: 2px;
    z-index: 0;
  }
  .skills-heading-child,
  .skills-heading-item,
  .skills3 {
    position: absolute;
    margin: 0 !important;
  }
  .skills3 {
    top: 0;
    left: calc(50% - 720px);
    font-size: inherit;
    letter-spacing: 0.6em;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: inherit;
    display: inline-block;
    width: 1440px;
    flex-shrink: 0;
    z-index: 1;
  }
  .skills-heading-item {
    top: 20px;
    left: 859px;
    border-top: 2px solid var(--color-fuchsia);
    box-sizing: border-box;
    width: 582px;
    height: 2px;
    z-index: 2;
  }
  .skills-heading {
    position: absolute;
    top: 2700px;
    left: calc(50% - 720px);
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-90xl);
  }
  .uiux-design1 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.1em;
    line-height: 42px;
    font-weight: 600;
  }
  .line-div {
    position: relative;
    border-top: 2px solid var(--font-color);
    box-sizing: border-box;
    width: 150px;
    height: 2px;
  }
  .in-my-work1 {
    align-self: stretch;
    position: relative;
    font-size: var(--text1-size);
    line-height: 27px;
    font-weight: 300;
    color: var(--color-gray-100);
  }
  .title-description3 {
    align-self: stretch;
    height: 513px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .card3 {
    border-radius: var(--br-5xl);
    background: linear-gradient(168.88deg, #ff28dc, rgba(0, 22, 251, 0.26));
    box-shadow: 0 4px 12px rgba(255, 40, 220, 0.12);
    width: 400px;
    height: 640px;
    justify-content: center;
    padding: var(--padding-45xl) var(--padding-23xl);
    box-sizing: border-box;
    min-width: 320px;
  }
  .card3,
  .card4,
  .title-description4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-description4 {
    align-self: stretch;
    height: 567px;
    justify-content: space-between;
  }
  .card4 {
    border-radius: var(--br-5xl);
    background: linear-gradient(168.85deg, #ff28dc 7.98%, rgba(0, 22, 251, 0.26));
    box-shadow: 0 4px 12px rgba(255, 40, 220, 0.12);
    width: 400px;
    height: 640px;
    justify-content: center;
    padding: var(--padding-45xl) var(--padding-23xl);
    box-sizing: border-box;
    min-width: 320px;
  }
  .during-the-year1 {
    align-self: stretch;
    position: relative;
    font-size: var(--text1-size);
    line-height: 27px;
    font-weight: 300;
    color: var(--color-white);
  }
  .card5,
  .title-description5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-description5 {
    align-self: stretch;
    height: 486px;
    justify-content: space-between;
  }
  .card5 {
    border-radius: var(--br-5xl);
    background: linear-gradient(
      168.46deg,
      #ff28dc 12.47%,
      rgba(0, 22, 251, 0.26)
    );
    box-shadow: 0 4px 12px rgba(255, 40, 220, 0.12);
    width: 400px;
    height: 640px;
    justify-content: center;
    padding: var(--padding-45xl) var(--padding-23xl);
    box-sizing: border-box;
    min-width: 320px;
    color: var(--color-gray-100);
  }
  .experiences-section1 {
    position: absolute;
    top: 1900px;
    left: calc(50% - 632px);
    width: 1264px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .experiences-heading-child,
  .experiences-heading-item {
    position: absolute;
    margin: 0 !important;
    top: 20px;
    border-top: 2px solid var(--color-fuchsia);
    box-sizing: border-box;
    width: 502px;
    height: 2px;
  }
  .experiences-heading-child {
    right: -31px;
    z-index: 0;
  }
  .experiences-heading-item {
    left: calc(50% - 751px);
    z-index: 1;
  }
  .experiences-heading {
    position: absolute;
    top: 1750px;
    left: calc(50% - 720px);
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-90xl);
  }
  .vector-icon12 {
    position: relative;
    width: 42.7px;
    height: 48px;
  }
  .master3 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-17xl);
  }
  .master2 {
    position: relative;
    width: 1440px;
    height: 165px;
  }
  .bachelors-in-design-container {
    position: relative;
    letter-spacing: 0.2em;
    line-height: 27px;
    display: inline-block;
    width: 1440px;
  }
  .education-section1 {
    position: absolute;
    top: 1230px;
    left: calc(50% - 720px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-17xl);
    font-size: var(--text1-size);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .education-heading-child {
    position: absolute;
    margin: 0 !important;
    top: 20px;
    left: calc(50% - 721px);
    border-top: 2px solid var(--color-fuchsia);
    box-sizing: border-box;
    width: 502px;
    height: 2px;
    z-index: 0;
  }
  .education-heading-item {
    position: absolute;
    margin: 0 !important;
    top: 20.4px;
    left: calc(50% + 220px);
    width: 500px;
    height: 1.2px;
    object-fit: contain;
    z-index: 1;
  }
  .education-heading {
    position: absolute;
    top: 1080px;
    left: calc(50% - 720px);
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .n {
    letter-spacing: 0.1em;
  }
  .web-design-container {
    align-self: stretch;
    position: relative;
    line-height: 30px;
    font-weight: 600;
    white-space: pre-wrap;
  }
  .gabriela-snchez-rodriguez {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-45xl);
    text-transform: uppercase;
    font-weight: 100;
    font-family: var(--font-encode-sans);
  }
  .cuban-designer-with-container {
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 27px;
    font-weight: 200;
    color: var(--color-white);
    display: inline-block;
    width: 621px;
    height: 427px;
    flex-shrink: 0;
  }
  .main-content1 {
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .photo-icon1 {
    position: relative;
    width: 514px;
    height: 701px;
  }
  .header-section1 {
    position: absolute;
    top: 0;
    left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-23xl);
  }
  .frame1 {
    position: absolute;
    top: 204px;
    left: 117px;
    width: 1206px;
    height: 701px;
    overflow: hidden;
    text-align: left;
    font-size: var(--text-size);
    color: var(--font-color);
    font-family: var(--font-poppins);
  }
  .rectangle-main-icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 1024px;
  }
  .about2 {
    backdrop-filter: blur(4px);
  }
  .about2:hover {
    mix-blend-mode: color;
  }
  .about2,
  .education4 {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 27px;
    font-weight: 200;
    cursor: pointer;
  }
  .menu-items11,
  .navigation11 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .menu-items11 {
    margin: 0;
    flex-shrink: 0;
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--text1-size);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .navigation11 {
    position: absolute;
    top: 0;
    left: calc(50% - 720px);
    background-color: var(--color-gray-500);
    width: 1440px;
    flex-wrap: wrap;
    padding: var(--padding-5xl) var(--padding-23xl);
    box-sizing: border-box;
  }
  .t-gaby-child,
  .t-gaby-child1,
  .t-gaby-child2,
  .t-gaby-child3,
  .t-gaby-inner,
  .t-gaby-item {
    position: absolute;
    top: 1050px;
    left: calc(50% - 720px);
    background: linear-gradient(
      180deg,
      rgba(16, 16, 19, 0.2) 22.29%,
      rgba(255, 40, 220, 0.2) 48.85%,
      rgba(16, 16, 19, 0.2) 77.5%
    );
    width: 1440px;
    height: 100px;
  }
  .t-gaby-child1,
  .t-gaby-child2,
  .t-gaby-child3,
  .t-gaby-inner,
  .t-gaby-item {
    top: 1720px;
  }
  .t-gaby-child1,
  .t-gaby-child2,
  .t-gaby-child3,
  .t-gaby-inner {
    top: 2670px;
  }
  .t-gaby-child1,
  .t-gaby-child2,
  .t-gaby-child3 {
    top: 3240px;
  }
  .t-gaby-child2,
  .t-gaby-child3 {
    top: 3720px;
  }
  .t-gaby-child3 {
    top: 4170px;
  }
  .home11 {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 27px;
    font-weight: 200;
  }
  .copyright22,
  .home-button11,
  .scroll-up-button11 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .home-button11 {
    justify-content: flex-start;
    cursor: pointer;
  }
  .copyright22,
  .scroll-up-button11 {
    justify-content: center;
  }
  .scroll-up-button11 {
    cursor: pointer;
  }
  .footer-section11,
  .footer11 {
    box-sizing: border-box;
    display: flex;
  }
  .footer-section11 {
    width: 1200px;
    height: 91px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--padding-13xl) var(--padding-61xl);
    text-align: left;
    font-size: var(--text1-size);
    color: var(--font-color);
    font-family: var(--font-poppins);
  }
  .footer11 {
    position: absolute;
    bottom: 0;
    left: calc(50% - 720px);
    border-top: 0.5px solid var(--color-white);
    width: 1440px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .t-gaby {
    position: relative;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 4800px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--color-fuchsia);
    font-family: var(--font-encode-sans);
  }
  