@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.tableofcontents {
  position: absolute;
  top: 2.94rem;
  left: 10.63rem;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  font-weight: 100;
  font-family: var(--font-encode-sans);
  text-align: center;
}
.home4 {
  top: 10.25rem;
  left: 25.5rem;
  cursor: pointer;
}
.aboutus,
.courseprojects,
.finalproject,
.home4 {
  position: absolute;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: right;
}
.finalproject {
  top: 14.25rem;
  left: 17.44rem;
  cursor: pointer;
}
.aboutus,
.courseprojects {
  top: 20.75rem;
  left: 14.13rem;
}
.aboutus {
  top: 31.5rem;
  left: 21.88rem;
}
.line-icon {
  position: absolute;
  top: 10.63rem;
  left: 32rem;
  width: 0.13rem;
  height: 27rem;
  object-fit: contain;
}
.subtopic1,
.week1,
.week5,
.week6,
.week7,
.week8 {
  position: absolute;
  top: 14.25rem;
  left: 33.81rem;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
  width: 22rem;
  cursor: pointer;
}
.week1,
.week5,
.week6,
.week7,
.week8 {
  top: 20.75rem;
  left: 33.94rem;
  width: 21.88rem;
}
.week5,
.week6,
.week7,
.week8 {
  left: 56.13rem;
}
.week6,
.week7,
.week8 {
  top: 23rem;
}
.week7,
.week8 {
  top: 25.25rem;
}
.week8 {
  top: 27.5rem;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember1,
.teammember2,
.teammember3,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  position: absolute;
  top: 31.5rem;
  left: 33.94rem;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
  width: 21.88rem;
  cursor: pointer;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember2,
.teammember3,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 33.75rem;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember3,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 35.69rem;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 31.5rem;
  left: 56.13rem;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 33.75rem;
}
.subtopic2,
.subtopic3,
.subtopic4,
.week2,
.week3,
.week4 {
  top: 23rem;
  left: 33.94rem;
}
.subtopic2,
.subtopic3,
.subtopic4,
.week3,
.week4 {
  top: 25.25rem;
}
.subtopic2,
.subtopic3,
.subtopic4,
.week4 {
  top: 27.5rem;
}
.subtopic2,
.subtopic3,
.subtopic4 {
  top: 16.75rem;
  left: 33.81rem;
  width: 21.63rem;
}
.subtopic3,
.subtopic4 {
  top: 14.25rem;
  left: 56rem;
  width: 28.94rem;
}
.subtopic4 {
  top: 16.75rem;
}
.menuicon1 {
  position: relative;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.menuicon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-21xl) var(--padding-61xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tableofcontent {
  position: relative;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: rgba(16, 16, 19, 0.9);
  width: 90rem;
  height: 43.75rem;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--heading-size);
  color: var(--font-color);
  font-family: var(--font-poppins);
}
.tableofcontent.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
