@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.tableofcontents {
  position: absolute;
  top: 47px;
  left: 170px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  font-weight: 100;
  font-family: var(--font-encode-sans);
  text-align: center;
}
.home3 {
  top: 164px;
  left: 408px;
}
.aboutus,
.courseprojects1,
.finalproject1,
.home3 {
  position: absolute;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: right;
}
.finalproject1 {
  top: 228px;
  left: 279px;
  cursor: pointer;
}
.aboutus,
.courseprojects1 {
  top: 332px;
  left: 226px;
}
.aboutus {
  top: 504px;
  left: 350px;
}
.line-icon1 {
  position: absolute;
  top: 170px;
  left: 512px;
  width: 2px;
  height: 432px;
  object-fit: contain;
}
.subtopic1,
.week1 {
  position: absolute;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
}
.subtopic1 {
  top: 228px;
  left: 541px;
  width: 463px;
}
.week1 {
  left: 543px;
  width: 350px;
}
.week1,
.week5 {
  top: 332px;
  cursor: pointer;
}
.teammember1,
.teammember2,
.teammember3,
.teammember4,
.teammember5,
.week5,
.week6,
.week7,
.week8 {
  position: absolute;
  left: 898px;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
  width: 350px;
}
.week6 {
  top: 368px;
  cursor: pointer;
}
.teammember1,
.teammember2,
.teammember3,
.teammember4,
.teammember5,
.week7,
.week8 {
  top: 404px;
}
.teammember1,
.teammember2,
.teammember3,
.teammember4,
.teammember5,
.week8 {
  top: 440px;
}
.teammember1,
.teammember2,
.teammember3,
.teammember4,
.teammember5 {
  top: 504px;
  left: 543px;
  cursor: pointer;
}
.teammember2,
.teammember3,
.teammember4,
.teammember5 {
  top: 540px;
}
.teammember3,
.teammember4,
.teammember5 {
  top: 571px;
}
.teammember4,
.teammember5 {
  top: 504px;
  left: 898px;
}
.teammember5 {
  top: 540px;
}
.week2,
.week3 {
  left: 543px;
  width: 350px;
  cursor: pointer;
}
.week2 {
  position: absolute;
  top: 368px;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
}
.week3 {
  top: 404px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.week3,
.week4 {
  position: absolute;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
}
.week4 {
  top: 440px;
  left: 543px;
  width: 350px;
  cursor: pointer;
}
.subtopic2,
.subtopic3,
.subtopic4 {
  top: 268px;
  left: 541px;
  width: 463px;
}
.subtopic3,
.subtopic4 {
  top: 228px;
  left: 896px;
}
.subtopic4 {
  top: 268px;
}
.menuicon3 {
  position: relative;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.menuicon2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-21xl) var(--padding-61xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tableofcontent {
  position: relative;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: rgba(16, 16, 19, 0.9);
  width: 1440px;
  height: 700px;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--heading-size);
  color: var(--font-color);
  font-family: var(--font-poppins);
}
.tableofcontent.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
