@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.card1bg7,
.card1bg8,
.card1bg9 {
  position: absolute;
  top: 1828.5px;
  left: -366.7px;
  border-radius: var(--br-881xl);
  background: linear-gradient(
    177.23deg,
    rgba(4, 228, 255, 0.4),
    rgba(156, 217, 26, 0.4)
  );
  filter: blur(300px);
  width: 734.2px;
  height: 2408px;
}
.card1bg8,
.card1bg9 {
  top: 167px;
  left: 910px;
  filter: blur(371px);
  width: 868px;
  height: 1391px;
}
.card1bg9 {
  top: -397px;
  left: 31px;
  width: 560px;
  height: 897px;
}
.vector-icon {
  position: absolute;
  top: -3px;
  left: 0;
  width: 1442px;
  height: 3516px;
}
.character-icon2 {
  position: absolute;
  top: 35px;
  left: calc(50% - 127px);
  width: 254px;
  height: 381px;
  opacity: 1;
}
.character-icon2.animate {
  animation: 25s ease-in-out 0s infinite normal forwards pulsate;
}
.landing-screen-61 {
  position: absolute;
  top: 121px;
  left: calc(50% + 137px);
  width: 360px;
  height: 450px;
  overflow: hidden;
}
.hero-section-child1 {
  position: absolute;
  height: 1.28%;
  width: 34.1%;
  top: 12.87%;
  right: 40.42%;
  bottom: 85.85%;
  left: 25.49%;
}
.sdg {
  margin: 0;
}
.finalproject-31-finalprojectse12 {
  width: 100%;
}
.finalproject-31-finalprojectse11 {
  position: absolute;
  top: 103px;
  left: 233px;
  font-size: var(--font-size-109xl);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  color: var(--color-white);
  align-items: center;
  width: 928px;
}
.image-93-icon,
.image-94-icon {
  position: relative;
  width: 301px;
  height: 105px;
  object-fit: cover;
}
.image-93-icon {
  width: 221px;
  height: 222px;
}
.image-94-parent {
  position: absolute;
  top: 780px;
  left: 172px;
  width: 359px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.finalproject-31-finalprojectse13 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 458px;
}
.promoting-energy-efficiency {
  text-transform: uppercase;
}
.promoting-energy-efficiency-s {
  margin: 0;
  font-size: var(--text1-size);
}
.heytherecurrentlywereintheproc14 {
  position: relative;
  display: inline-block;
  width: 468px;
  font-size: var(--text-size);
}
.finalproject-31-finalprojectse-parent7 {
  position: absolute;
  top: 806px;
  left: 728px;
  width: 468px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.finalproject-31-finalprojectse16 {
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 348px;
}
.heytherecurrentlywereintheproc15 {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  width: 348px;
}
.finalproject-31-finalprojectse-parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.image-95-icon {
  position: relative;
  width: 272px;
  height: 196px;
  object-fit: cover;
}
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-73xl);
}
.heytherecurrentlywereintheproc16 {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  width: 362px;
}
.image-95-icon1 {
  position: relative;
  width: 272px;
  height: 199px;
  object-fit: cover;
}
.frame-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 78px;
}
.image-95-icon2 {
  position: relative;
  width: 272px;
  height: 174px;
  object-fit: cover;
}
.finalproject-31-finalprojectse19 {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  width: 348px;
}
.image-95-icon3 {
  position: relative;
  width: 272px;
  height: 177px;
  object-fit: cover;
}
.finalproject-31-finalprojectse-parent8,
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  gap: 81px;
  font-size: var(--text1-size);
}
.finalproject-31-finalprojectse-parent8 {
  position: absolute;
  top: 1896px;
  left: 364px;
  gap: 104px;
}
.heytherecurrentlywereintheproc19 {
  position: absolute;
  top: 3266px;
  left: calc(50% - 350px);
  font-size: var(--text-size);
  text-align: center;
  display: inline-block;
  width: 712px;
}
.character-icon3,
.character-icon4 {
  position: absolute;
  top: 1095.8px;
  left: calc(50% - 734.1px);
  width: 631.9px;
  height: 754.5px;
  object-fit: contain;
}
.character-icon4 {
  top: 2008px;
  left: calc(50% + 261px);
  width: 713.9px;
  height: 930.1px;
}
.line-div {
  position: absolute;
  top: 1904.5px;
  left: 346.5px;
  border-right: 3px solid var(--font-color);
  box-sizing: border-box;
  width: 3px;
  height: 1130px;
}
.menuiconfinal7 {
  position: relative;
  width: 32px;
  height: 32px;
}
.menuiconfinal6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-21xl) var(--padding-61xl);
  background-color: transparent;
  position: absolute;
  height: 3.09%;
  width: 13.33%;
  top: 0;
  right: 86.67%;
  bottom: 96.91%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.hero-section3 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-color: var(--color-black);
  width: 1440px;
  height: 3513px;
  overflow: hidden;
}
.z-finalsdg {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 3516px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text2-size);
  color: var(--font-color);
  font-family: var(--text);
}
.tableofcontents {
  position: absolute;
  top: 47px;
  left: 170px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  font-weight: 100;
  font-family: var(--font-encode-sans);
  text-align: center;
}
.home1 {
  top: 164px;
  left: 408px;
  cursor: pointer;
}
.aboutus,
.courseprojects1,
.finalproject1,
.home1 {
  position: absolute;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: right;
}
.finalproject1 {
  top: 228px;
  left: 279px;
  cursor: pointer;
}
.aboutus,
.courseprojects1 {
  top: 332px;
  left: 226px;
}
.aboutus {
  top: 504px;
  left: 350px;
}
.line-icon {
  position: absolute;
  top: 170px;
  left: 512px;
  width: 2px;
  height: 432px;
  object-fit: contain;
}
.subtopic1,
.week1,
.week5,
.week6,
.week7,
.week8 {
  position: absolute;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
}
.subtopic1 {
  top: 228px;
  left: 541px;
  width: 352px;
  cursor: pointer;
}
.week1,
.week5,
.week6,
.week7,
.week8 {
  top: 332px;
  width: 350px;
}
.week1 {
  left: 543px;
  cursor: pointer;
}
.week5,
.week6,
.week7,
.week8 {
  left: 898px;
}
.week6,
.week7,
.week8 {
  top: 368px;
  cursor: pointer;
}
.week7,
.week8 {
  top: 404px;
}
.week8 {
  top: 440px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember1,
.teammember2,
.teammember3,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  position: absolute;
  top: 504px;
  left: 543px;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
  width: 350px;
  cursor: pointer;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember2,
.teammember3,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 540px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember3,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 571px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 504px;
  left: 898px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 540px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.week2,
.week3,
.week4 {
  top: 368px;
  left: 543px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.week3,
.week4 {
  top: 404px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.week4 {
  top: 440px;
}
.subtopic2,
.subtopic3,
.subtopic4 {
  top: 268px;
  left: 541px;
  width: 346px;
}
.subtopic3,
.subtopic4 {
  top: 228px;
  left: 896px;
  width: 463px;
}
.subtopic4 {
  top: 268px;
}
.menuicon3 {
  position: relative;
  width: 32px;
  height: 32px;
}
.menuicon2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-21xl) var(--padding-61xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tableofcontent {
  position: relative;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-gray-600);
  width: 1440px;
  height: 700px;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--sub-heading-size);
  color: var(--font-color);
  font-family: var(--font-poppins);
}
.tableofcontent.animate,
.z-tableofcontent.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
.tableofcontents1 {
  position: absolute;
  top: 47px;
  left: 192px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  font-weight: 100;
}
.home2 {
  position: relative;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  cursor: pointer;
}
.home-parent {
  position: absolute;
  top: 134px;
  left: 192px;
  width: 459px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: right;
  font-family: var(--font-poppins);
}
.menuicon5 {
  position: relative;
  width: 32px;
  height: 32px;
}
.menuicon4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-21xl) var(--padding-61xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.z-tableofcontent {
  position: relative;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-gray-600);
  width: 843px;
  height: 700px;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--sub-heading-size);
  color: var(--font-color);
  font-family: var(--font-encode-sans);
}
