@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.card1bg10,
.card1bg11 {
  position: absolute;
  height: 78.87%;
  width: 50.99%;
  top: 59.89%;
  right: 74.48%;
  bottom: -38.77%;
  left: -25.47%;
  border-radius: var(--br-881xl);
  background: linear-gradient(
    177.23deg,
    rgba(4, 228, 255, 0.4),
    rgba(156, 217, 26, 0.4)
  );
  filter: blur(300px);
}
.card1bg11 {
  height: 45.56%;
  width: 29.46%;
  top: -17.1%;
  right: -9.72%;
  bottom: 71.54%;
  left: 80.26%;
  filter: blur(371px);
}
.menuicon15 {
  position: relative;
  width: 32px;
  height: 32px;
}
.menuicon14 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-21xl) var(--padding-61xl);
  background-color: transparent;
  position: absolute;
  height: 14.83%;
  width: 13.33%;
  top: 0;
  right: 86.63%;
  bottom: 85.17%;
  left: 0.03%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.hero-section4 {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 755px;
  overflow: hidden;
  flex-shrink: 0;
}
.finalproject-31-finalprojectse20 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.identifying-the-problem {
  margin: 0;
}
.heytherecurrentlywereintheproc20 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-gray-200);
  display: inline-block;
  width: 605px;
}
.finalproject-31-finalprojectse-parent13 {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 302px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.frame-wrapper {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 427px;
  overflow: hidden;
  flex-shrink: 0;
}
.hero-section-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.card1bg12,
.card1bg13 {
  position: absolute;
  height: 78.87%;
  width: 50.99%;
  top: 59.89%;
  right: 74.48%;
  bottom: -38.76%;
  left: -25.47%;
  border-radius: var(--br-881xl);
  background: linear-gradient(
    177.23deg,
    rgba(4, 228, 255, 0.4),
    rgba(156, 217, 26, 0.4)
  );
  filter: blur(300px);
}
.card1bg13 {
  height: 45.57%;
  width: 29.46%;
  top: -17.1%;
  right: -9.72%;
  bottom: 71.53%;
  left: 80.26%;
  filter: blur(371px);
}
.frame-child2 {
  position: relative;
  width: 136px;
  height: 262.7px;
}
.finalproject-31-finalprojectse21 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 491px;
}
.finalproject-31-finalprojectse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text2-size);
}
.div {
  letter-spacing: 0.04em;
  line-height: 130%;
  font-weight: 500;
  background: linear-gradient(177.23deg, #04e4ff, #9cd91a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div,
.finalproject-31-finalprojectse22 {
  position: relative;
  text-transform: uppercase;
}
.heytherecurrentlywereintheproc21 {
  position: relative;
  font-size: var(--text-size);
  text-align: left;
  display: inline-block;
  width: 526px;
}
.finalproject-31-finalprojectse-parent14 {
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  border: 2px solid var(--a);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-xs);
  font-size: var(--text1-size);
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-28xl);
}
.heytherecurrentlywereintheproc22 {
  position: relative;
  font-size: var(--text-size);
  color: var(--font-color);
  text-align: left;
  display: inline-block;
  width: 526px;
}
.frame-parent7,
.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frame-parent7 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-65xl);
}
.finalproject-31-finalprojectse-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text2-size);
}
.heytherecurrentlywereintheproc24 {
  position: relative;
  font-size: var(--text-size);
  color: var(--font-color);
  display: inline-block;
  width: 526px;
}
.finalproject-31-finalprojectse-parent17,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.finalproject-31-finalprojectse-parent17 {
  align-items: flex-end;
  gap: var(--gap-xs);
}
.frame-wrapper1 {
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  border: 2px solid var(--a);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
}
.div3 {
  position: relative;
  font-size: var(--font-size-71xl);
  letter-spacing: 0.04em;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(177.23deg, #04e4ff, #9cd91a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.frame-parent10,
.frame-parent8,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-28xl);
}
.frame-parent10,
.frame-parent8 {
  gap: var(--gap-13xl);
}
.frame-parent8 {
  position: absolute;
  top: calc(50% - 380.5px);
  left: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.group-child {
  position: absolute;
  height: 25.4%;
  width: 22.98%;
  top: 37.25%;
  right: 0;
  bottom: 37.35%;
  left: 77.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div {
  position: relative;
  width: 927px;
  height: 761px;
  text-align: right;
  font-size: var(--text1-size);
}
.frame-parent6 {
  position: absolute;
  top: calc(50% - 740.5px);
  left: calc(50% - 463px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-138xl);
}
.hero-section5 {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 1639px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--font-size-71xl);
  color: var(--color-white);
}
.heytherecurrentlywereintheproc28 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-gray-200);
  display: inline-block;
  width: 567px;
}
.finalproject-31-finalprojectse-parent21 {
  position: absolute;
  top: calc(50% - 73.5px);
  left: calc(50% - 283px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.frame-wrapper5 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 345px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.hero-section-child2 {
  position: absolute;
  top: 99px;
  left: 243px;
}
.finalproject-31-finalprojectse31 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 954px;
}
.heytherecurrentlywereintheproc29 {
  position: relative;
  font-size: var(--text-size);
  color: var(--font-color);
  text-align: left;
  display: inline-block;
  width: 372px;
}
.finalproject-31-finalprojectse-parent23 {
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  border: 2px solid var(--a);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-xs);
}
.frame-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-white);
}
.heytherecurrentlywereintheproc30 {
  position: relative;
  font-size: var(--text-size);
  text-align: left;
  display: inline-block;
  width: 373px;
}
.frame-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.heytherecurrentlywereintheproc31 {
  position: relative;
  font-size: var(--text-size);
  text-align: left;
  display: inline-block;
  width: 371px;
}
.frame-parent15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.image-50-icon {
  position: relative;
  width: 495px;
  height: 467px;
  object-fit: cover;
}
.heytherecurrentlywereintheproc32 {
  position: relative;
  display: inline-block;
  width: 495px;
}
.frame-parent14,
.image-50-parent {
  display: flex;
  align-items: flex-start;
}
.image-50-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--text-size);
}
.frame-parent14 {
  width: 954px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--text1-size);
  color: var(--font-color);
}
.finalproject-31-finalprojectse-parent22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.finalproject-31-finalprojectse35 {
  position: relative;
  font-size: var(--text2-size);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 954px;
  z-index: 0;
}
.rectangle-div {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  border: 2px solid var(--a);
  box-sizing: border-box;
  width: 465px;
  height: 191px;
  z-index: 0;
}
.heytherecurrentlywereintheproc33 {
  position: relative;
  font-size: var(--text-size);
  color: var(--font-color);
  display: inline-block;
  width: 376px;
}
.finalproject-31-finalprojectse-parent27 {
  margin: 0 !important;
  position: absolute;
  top: 26px;
  left: 45px;
  height: 141px;
  align-items: center;
  gap: var(--gap-xs);
  z-index: 1;
}
.finalproject-31-finalprojectse-parent27,
.finalproject-31-finalprojectse-parent28,
.rectangle-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rectangle-parent {
  align-items: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.finalproject-31-finalprojectse-parent28 {
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  border: 2px solid var(--a);
  box-sizing: border-box;
  height: 191px;
  align-items: center;
  padding: var(--padding-mid) var(--padding-25xl);
  gap: var(--gap-xs);
}
.frame-parent16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 1;
}
.frame-child3 {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  border: 2px solid var(--a);
  box-sizing: border-box;
  width: 954px;
  height: 405px;
  z-index: 2;
}
.finalproject-31-finalprojectse38 {
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 655px;
}
.heytherecurrentlywereintheproc35 {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  width: 902px;
}
.finalproject-31-finalprojectse-parent29 {
  margin: 0 !important;
  position: absolute;
  top: 332px;
  left: 26px;
  height: 330px;
  align-items: center;
  gap: var(--gap-xs);
  z-index: 3;
  color: var(--font-color);
}
.finalproject-31-finalprojectse-parent26,
.finalproject-31-finalprojectse-parent29,
.frame-parent13 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.finalproject-31-finalprojectse-parent26 {
  align-items: center;
  position: relative;
  gap: var(--gap-13xl);
  font-size: var(--text1-size);
}
.frame-parent13 {
  position: absolute;
  top: 106px;
  left: 243px;
  align-items: flex-start;
  gap: var(--gap-45xl);
}
.hero-section6 {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 1703px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
  color: var(--color-white);
}
.heytherecurrentlywereintheproc36 {
  position: relative;
  font-size: var(--text-size);
  color: var(--color-black);
  display: inline-block;
  width: 921px;
}
.finalproject-31-finalprojectse-parent30 {
  width: 953px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.photo-lua-9-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 377px;
  height: 462px;
  object-fit: cover;
}
.iphone-x-lua-app-1-icon,
.photo-lua-3-1-icon {
  position: absolute;
  top: 1px;
  left: 377px;
  width: 518px;
  height: 460px;
  object-fit: cover;
}
.photo-lua-3-1-icon {
  top: 0;
  left: 895px;
  width: 546px;
  height: 462px;
}
.photo-lua-9-1-parent {
  position: relative;
  width: 1441px;
  height: 462px;
}
.frame-parent17 {
  background-color: var(--color-whitesmoke-100);
  height: 738px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-19xl);
  z-index: 4;
}
.simple-smart-home {
  color: inherit;
}
.heytherecurrentlywereintheproc37 {
  position: relative;
  font-size: var(--text-size);
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 921px;
}
.photo-lua-3-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 462px;
}
.photo-lua-3-1-wrapper {
  position: relative;
  width: 1440px;
  height: 462px;
}
.frame-parent18 {
  background-color: var(--color-whitesmoke-100);
  height: 738px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-19xl);
  z-index: 5;
}
.finalproject-31-finalprojectse-parent32 {
  position: absolute;
  top: calc(50% - 84px);
  left: calc(50% - 302px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.frame-wrapper9 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 427px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 6;
}
.vector-icon1,
.vector-icon2 {
  position: relative;
  width: 185.2px;
  height: 170px;
}
.vector-icon2 {
  width: 193px;
  height: 164px;
}
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(60px);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.vector-icon4 {
  position: relative;
  width: 193px;
  height: 170px;
}
.vector-group {
  position: absolute;
  top: 0;
  left: 1.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frame-parent20 {
  position: relative;
  width: 404.3px;
  height: 170px;
}
.heytherecurrentlywereintheproc39 {
  position: relative;
  font-size: var(--text-size);
  color: var(--font-color);
  display: inline-block;
  width: 720px;
}
.finalproject-31-finalprojectse-wrapper1 {
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  border: 2px solid var(--a);
  box-sizing: border-box;
  width: 402px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-5xl) var(--padding-xs) 0;
}
.group-parent1 {
  width: 954px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frame-child4 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 2062px;
}
.finalproject-31-finalprojectse46 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 780px;
}
.heytherecurrentlywereintheproc40 {
  position: relative;
  font-size: var(--text-size);
  color: var(--font-color);
  display: inline-block;
  width: 778px;
}
.finalproject-31-finalprojectse-parent33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.finalproject-31-finalprojectse47,
.finalproject-31-finalprojectse48,
.finalproject-31-finalprojectse49 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 776px;
}
.finalproject-31-finalprojectse48,
.finalproject-31-finalprojectse49 {
  width: 779px;
}
.finalproject-31-finalprojectse49 {
  width: 774px;
}
.the-device-incorporates {
  margin-bottom: 0;
}
.the-device-incorporates-elemen {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-4xl);
}
.finalproject-31-finalprojectse50 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 775px;
}
.heytherecurrentlywereintheproc45 {
  width: 100%;
}
.heytherecurrentlywereintheproc44 {
  position: relative;
  font-size: var(--text-size);
  color: var(--font-color);
  display: flex;
  align-items: center;
  width: 778px;
}
.finalproject-31-finalprojectse51 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 614px;
}
.frame-parent19,
.group-parent2 {
  display: flex;
  align-items: flex-start;
}
.group-parent2 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-68xl);
  text-align: left;
  font-size: var(--text2-size);
}
.frame-parent19 {
  position: absolute;
  top: 96px;
  left: 243px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.home11 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27px;
  font-weight: 200;
}
.copyright4,
.home-button2,
.scroll-up-button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-button2 {
  justify-content: flex-start;
  cursor: pointer;
}
.copyright4,
.scroll-up-button2 {
  justify-content: center;
}
.scroll-up-button2 {
  cursor: pointer;
}
.footer-section2,
.footer2 {
  box-sizing: border-box;
  height: 91px;
  display: flex;
}
.footer-section2 {
  width: 1200px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-61xl);
  text-align: left;
  font-size: var(--text-size);
  color: var(--font-color);
  font-family: var(--font-poppins);
}
.footer2 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 719.5px);
  border-top: 0.5px solid var(--color-white);
  width: 1440px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.hero-section7 {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 3228px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 7;
  font-size: var(--text1-size);
  color: var(--color-white);
}
.heytherecurrentlywereintheproc48 {
  position: relative;
  font-size: var(--text-size);
  color: var(--font-color);
  display: inline-block;
  width: 465px;
}
.frame-wrapper10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 403.2px;
  height: 170px;
}
.vector-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frame-wrapper11 {
  position: absolute;
  top: 0;
  left: 1.2px;
  width: 403.2px;
  height: 170px;
}
.frame-parent23 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  text-align: left;
  font-size: var(--text2-size);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-midnightblue);
  border: 2px solid var(--a);
  box-sizing: border-box;
  width: 465px;
  height: 253px;
}
.heytherecurrentlywereintheproc49 {
  position: relative;
  font-size: var(--text-size);
  display: inline-block;
  width: 376px;
}
.finalproject-31-finalprojectse-parent40 {
  position: absolute;
  top: 35px;
  left: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.rectangle-group {
  position: relative;
  width: 465px;
  height: 253px;
}
.finalproject-31-finalprojectse-parent41 {
  top: 17px;
  left: 45px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
}
.finalproject-31-finalprojectse-parent41,
.frame-parent22,
.frame-parent5 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.frame-parent22 {
  margin: 0 !important;
  top: 95px;
  left: 243px;
  width: 954.2px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-5xl);
  z-index: 8;
  font-size: var(--text1-size);
  color: var(--color-white);
}
.frame-parent5 {
  top: 0;
  left: calc(50% - 720px);
  height: 10000px;
  flex-direction: column;
  align-items: center;
}
.z-finalanalysis {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 10000px;
  overflow: hidden;
  text-align: center;
  font-size: var(--text2-size);
  color: var(--color-darkslategray-100);
  font-family: var(--text);
}
.tableofcontents {
  position: absolute;
  top: 47px;
  left: 170px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  font-weight: 100;
  font-family: var(--font-encode-sans);
  text-align: center;
}
.home1 {
  top: 164px;
  left: 408px;
  cursor: pointer;
}
.aboutus,
.courseprojects1,
.finalproject1,
.home1 {
  position: absolute;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: right;
}
.finalproject1 {
  top: 228px;
  left: 279px;
  cursor: pointer;
}
.aboutus,
.courseprojects1 {
  top: 332px;
  left: 226px;
}
.aboutus {
  top: 504px;
  left: 350px;
}
.line-icon {
  position: absolute;
  top: 170px;
  left: 512px;
  width: 2px;
  height: 432px;
  object-fit: contain;
}
.subtopic1,
.week1,
.week5,
.week6,
.week7,
.week8 {
  position: absolute;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
}
.subtopic1 {
  top: 228px;
  left: 541px;
  width: 352px;
  cursor: pointer;
}
.week1,
.week5,
.week6,
.week7,
.week8 {
  top: 332px;
  width: 350px;
}
.week1 {
  left: 543px;
  cursor: pointer;
}
.week5,
.week6,
.week7,
.week8 {
  left: 898px;
}
.week6,
.week7,
.week8 {
  top: 368px;
  cursor: pointer;
}
.week7,
.week8 {
  top: 404px;
}
.week8 {
  top: 440px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember1,
.teammember2,
.teammember3,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  position: absolute;
  top: 504px;
  left: 543px;
  letter-spacing: 0.12em;
  font-weight: 200;
  display: inline-block;
  width: 350px;
  cursor: pointer;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember2,
.teammember3,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 540px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember3,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 571px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 504px;
  left: 898px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.teammember5,
.week2,
.week3,
.week4 {
  top: 540px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.week2,
.week3,
.week4 {
  top: 368px;
  left: 543px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.week3,
.week4 {
  top: 404px;
}
.subtopic2,
.subtopic3,
.subtopic4,
.week4 {
  top: 440px;
}
.subtopic2,
.subtopic3,
.subtopic4 {
  top: 268px;
  left: 541px;
  width: 346px;
}
.subtopic3,
.subtopic4 {
  top: 228px;
  left: 896px;
  width: 463px;
}
.subtopic4 {
  top: 268px;
}
.menuicon3 {
  position: relative;
  width: 32px;
  height: 32px;
}
.menuicon2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-21xl) var(--padding-61xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tableofcontent {
  position: relative;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-gray-600);
  width: 1440px;
  height: 700px;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--sub-heading-size);
  color: var(--font-color);
  font-family: var(--font-poppins);
}
.tableofcontent.animate,
.z-tableofcontent.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
.tableofcontents1 {
  position: absolute;
  top: 47px;
  left: 192px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  font-weight: 100;
}
.home2 {
  position: relative;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  cursor: pointer;
}
.home-parent {
  position: absolute;
  top: 134px;
  left: 192px;
  width: 459px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: right;
  font-family: var(--font-poppins);
}
.menuicon7 {
  position: relative;
  width: 32px;
  height: 32px;
}
.menuicon6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-21xl) var(--padding-61xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.z-tableofcontent {
  position: relative;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-gray-600);
  width: 843px;
  height: 700px;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--sub-heading-size);
  color: var(--font-color);
  font-family: var(--font-encode-sans);
}
